body,
* {
    padding: 0;
    margin: 0;
    border: none;
    background-color: #121212;
    color: white;
    font-size: 12px;
    font-family: "Roboto", sans-serif, system-ui;
}

body {
    height: 95vh;
    width: 95vw;
}

button, a {
    text-decoration: none;
    cursor: pointer;
}

ul, li {
    list-style-type: none;
    font-size: 18px;
}

.material-symbols-outlined.md-18 {
    font-size: 18px;
}

.material-symbols-outlined.md-26 {
    font-size: 26px;
}

.material-symbols-outlined.background {
    background-color: #242424;
    color: white;
}

.iconButton {
    background-color: #242424;
}

.container > .top-bar > .noBorderButton,
.container > .controls > .noBorderButton {
    border: none;
    border-radius: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.15fr 0.25fr repeat(3, 1fr) 0.15fr;
    background-color: inherit;
    gap: 4px;
}

.container > .top-bar {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 4fr repeat(2, 1fr) 2fr;
    grid-template-rows: 1fr;
    gap: 8px;
}

.container > .top-bar > .topBar-name {
    text-align: center;
}

.container > .sidebar {
    grid-column: 1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    background-color: #3700b3;
}

.container > .sidebar > .wrapper {
    background-color: #3700b3;
}

.container > .sidebar > div .upperNav {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    align-items: center;
    column-gap: 1rem;
    row-gap: 0.5rem;
    margin-bottom: 24px;
    margin-top: 24px;
    background-color: #3700b3;
}

.container > .sidebar > div .upperNav a {
    font-size: 20px;
    background-color: #3700b3;
}

.container > .sidebar > div .middleNav,
.container > .sidebar > div .lowerNav {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    column-gap: 1rem;
    row-gap: 0.5rem;
    margin-bottom: 24px;
    margin-top: 24px;
    background-color: #3700b3;
}

.container > .sidebar > div nav span {
    justify-self: right;
    background-color: #3700b3;
}

.container > .sidebar > div nav a {
    justify-self: left;
    background-color: #3700b3;
}

.container > .controls {
    grid-row: 2;
    grid-column: 2 / span 2;
    display: grid;
    grid-template-columns: 1fr 3fr repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 2px;
    align-items: center;
}

.container > .controls h6 {
    font-weight: 400;
    font-size: 8px;
    letter-spacing: 0.75px;
}

.container > .controls button {
    border: 2px solid white;
    border-radius: 12px;
    height: 2rem;
    width: 5rem;
    font-size: 12px;
    padding: 2px;
}

.container > .cardsContainer {
    grid-column: 2;
    grid-row: 3 / span 4;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.5fr 9.5fr;
    column-gap: 4px;
}

.container > .cardsContainer > p {
    align-self: end;
    margin-bottom: 4px;
    font-weight: 700;
}

.container > .cardsContainer > .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 4px;
}

.container > .cardsContainer > .cards .card {
    border: 2px solid white;
    border-radius: 4px;
    border-left-color: #bb86fc;
    border-left-width: 4px;
    padding-left: 4px;
    background-color: #242424;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 9.5fr 0.5fr;
}

.container > .cardsContainer > .cards .card > .icons {
    grid-row: 2;
    grid-column: 2;
    background-color: #242424;
    justify-self: end;
    margin-bottom: 4px;
    margin-right: 4px;
}

.container > .cardsContainer > .cards .card > .textContainer {
    grid-row: 1;
    grid-column: 1 / span 2;
    background-color: #242424;
}

.container > .cardsContainer > .cards .card > .textContainer > .title,
.container > .cardsContainer > .cards .card > .textContainer > .description {
    background-color: #242424;
}

.container > .cardsContainer > .cards .card > .textContainer > .title {
    font-weight: 700;
}

.container > .cardsContainer > .cards .card > .textContainer > .description {
    font-size: 8px;
}

.container > .cardsContainer > .rightBar {
    grid-column: 2;
    grid-row: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 22.5px;
}

.container > .cardsContainer > .rightBar > .announcements,
.container > .cardsContainer > .rightBar > .trending {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 9.5fr;
}

.container > .cardsContainer > .rightBar > .announcements {
    grid-row: 1;
}

.container > .cardsContainer > .rightBar > .announcements > p,
.container > .cardsContainer > .rightBar > .trending > p {
    text-align: center;
    font-weight: 700;
}

.container > .cardsContainer > .rightBar > .trending {
    grid-row: 2;
}

.container > .cardsContainer > .rightBar > .announcements > .cardsContainer,
.container > .cardsContainer > .rightBar > .trending > .cardsContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.container > .cardsContainer > .rightBar > .announcements > .cardsContainer .card {
    border: 2px solid white;
    border-radius: 2px;
    background-color: #242424;
}

.container > .cardsContainer > .rightBar > .announcements > .cardsContainer .card p {
    background-color: #242424;
}

.container > .cardsContainer > .rightBar > .announcements > .cardsContainer .card .title {
    font-weight: 700;
}

.container > .cardsContainer > .rightBar > .announcements > .cardsContainer .card .description {
    font-size: 8px;
}

.container > .cardsContainer > .rightBar > .trending > .cardsContainer .card {
    border: 2px solid white;
    border-radius: 2px;
    background-color: #242424;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.container > .cardsContainer > .rightBar > .trending > .cardsContainer .card img,
.container > .cardsContainer > .rightBar > .trending > .cardsContainer .card div,
.container > .cardsContainer > .rightBar > .trending > .cardsContainer .card div p {
    background-color: #242424;
}

.container > .cardsContainer > .rightBar > .trending > .cardsContainer .card img {
    grid-column: 1;
    grid-row: 1;
}

.container > .cardsContainer > .rightBar > .trending > .cardsContainer .card div {
    grid-column: 2;
    grid-row: 1;
}

.container > .cardsContainer > .rightBar > .trending > .cardsContainer .card div .description {
    font-size: 8px;
    opacity: 0.5;
}

.container > .footer {
    grid-row: -1;
    grid-column: 1 / span 3;
    align-self: center;
    justify-self: center;
    margin: 4px 0;
    background-color: #242424;
}
